
// Custom

// Vertical Rhythm
$rhythm-unit: 'rem';
$font-unit: 1rem;
$base-font-size: $rem-base;
$base-line-height: $rem-base * 1.5;
@include establish-baseline;

body {
	background: #fff;
	font-family: $font-normal;
	//@include debug-vertical-alignment;
}

#{headings(all)} {
	color: #657380;
	font-family: $font-normal;
	font-weight: 700;
	margin: 2.355rem 0;
}

h2 {
	display: inline-block;
	margin-bottom: 2rem;
	text-align: left;
}

h3 {
	margin: 1.355rem 0 1.355rem 0;
	font-size: 1.2rem;
}

p {
	color: #657380;
	font-family: $font-condensed;
	font-weight: 300;
	font-size: 1.3rem;
	margin-bottom: 0;
}

a {
	@include single-transition(all, .3s, ease-in-out);
}

a.link-text {
	color: #1eaede;
	font-family: $font-normal;
	font-weight: 500;
	font-size: 1.3rem;
	
	&:hover {
		color: #1eaede;
		background: #f9f9f9;
	}
}

.date-text {
	color: #657380;
	font-size: 1.2rem;
	font-family: $font-normal;
}

.location-text {
	color: #657380;
	font-size: 1.2rem;
	font-family: $font-normal;
}

.light-text {
	color: #657380;
	font-family: $font-normal;
	opacity: 0.5;
}

.screen-reader {
	position: absolute;
	top: -9999px;
	left: -9999px;
}

.wrapper {
	 padding: 0;	
}

.left-content {
    border: medium none;
    background: #424242;
    
    @media #{$large-up} {
    	height: 100%;
	    width: 20rem;
	    position: fixed;
	    top: 0;
	    left: 0;
    }

    .email {
    	color: #f1f1f1;
    	display: none;
    	position: absolute;
    	bottom: 5rem;
    	width: 100%;
    	margin: auto;
    	text-align: center;	
    }
}

.main-content {
    border: medium none;
    max-width: 1200px;
    
    @media #{$large-up} {
    	padding-left: 20rem;
	}
}

.content {
	margin: 0.65rem 0;
	padding: 0.65rem 0;
}

// Bio
.bio {
	padding: 2rem 0 2.5rem;
	position: relative;
	
	h1 {
		color: #f2f2f2;
		text-align: center;
		margin-bottom: 1rem;
	}

	.role {
		color: #ccc;
		text-transform: uppercase;
		text-align: center;
	}

	img {
		@include border-radius(150px);
		display: block;
		margin: auto;
	}
}

// Contacts
.contacts {
	text-align: center;
	position: fixed;
	bottom: 0;
	left: 0;
	width: 100%;
	background: #424242;
	z-index: 2;
	padding: 4px 0 3px 0;
	
	@media #{$large-up} {
		position: relative;
		bottom: auto;
		left: auto;
		width: auto;
		background: none;
		max-width: 230px;
		padding: 0;
	}

	.fa {
		color: #999;
		font-size: 1.48rem;
		margin: .3rem;
		@include single-transition(all, .3s, ease-in-out);
		&:hover {
			color: #fff;
		}
	}
}

// Navigation
.navigation {
	background: #fff;
	border-bottom: 4px solid #424242;
		
	nav {
		height: 55px;
    	text-align: center;
    	
	    @media #{$large-up} {
		    position: fixed;
		    right: 2rem;
		    top: 1.5rem;
	    }

		ul {
	    	list-style: none;
	    	margin: 0;
	    	padding: 1rem 0;
	    	text-align: center;
			white-space: nowrap;
			overflow-y: hidden;
			overflow-x: scroll;
			-webkit-overflow-scrolling: touch;
			
	    	@media #{$large-up} {
	    		text-align: right;
	    	}

			li {
				display: inline-block;
				margin: 0 20px;
				padding: 0;
				
				@media #{$medium-only} {
					width: 20%;
					margin: auto;
				}

				@media #{$large-up} {
					display: block;
					font-size: 1.5rem;
					margin: auto;
					width: auto;
				}

				a {
					color: #657380;
					text-transform: uppercase;
					font-family: $font-normal;
					font-weight: 700; 
					
					&.active {
						color: #1eaede;
					}

					@media #{$large-up} {
						&:hover {
							padding-right: 0.33rem;	
						}
					}
				}
			}
		}
	}
}

// Work Experience  
.work {

}

// Projects 
.projects {
	img {
		background: #fff;
		display: block;
		margin: 2rem auto 2.5rem;
		padding: 0.4rem;
	}
}

// Education 
.education {
	padding: 5px;
}

// Skills
.skills {
	padding-bottom: 100px;
	
	ul {
		list-style: none;
		margin: 0;
		
		li {
			color: #657380;
		}
	}
}

// Footer 
footer {
	background: #444;
	color: #66757f;
	bottom: 0;
	position: fixed;
	width: 100%;
	text-align: center;
}
